p {
    color: blue;
    font-size: 20px;
    margin: 20px;
    border: 20px solid red;
    padding: 50px;
}

h1 {
    color: red
}

p.enlarge {
    font-size: 40px;
}

h1.enlarge {
    font-size: 80px;
}