.wrapper{
    border: red solid 2px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
}

div.wrapper > div {
    background-color: aquamarine;
    border: black solid 1px;
    padding: 10px;
    border-radius: 5px;
}